body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    border: 1px solid red;
    height: 790px;
    width: 880px;
    margin: auto;
}
header{
    border: 1px solid red;
    height: 120px;
    width: 880px;
}
nav{
    border: 1px solid red;
    height: 62px;
    width: 880px;
}
aside{
    border: 1px solid red;
    width: 268px;
}
main aside article{
    border: 1px solid red;
    height: 175px;
    width: 250px;
    margin: 6px;
}
section{
    border: 1px solid red;
    float: left;
}
main section article{
    border: 1px solid red;
    height: 175px;
    width: 250px;
    display: inline-block;
}
footer{
    border: 1px solid red;
    height: 62px;
    width: 730px;
}